#main_time {
	box-sizing: border-box;
	width: 300px;
	height: 180px;
	/*background-color: pink;*/
}

#time {
	/*color: rgb(21, 159, 238);*/
	color: white;
	font-size: 70px;
	-webkit-app-region: drag;
	-webkit-user-select:none;
	position: absolute;
	left: 30px;
	top: 20px;
}

#data {
	/*color: rgb(21, 159, 238);*/
	color: white;
	font-size: 20px;
	position: absolute;
	top: 100px;
	left: 45px;
	-webkit-user-select:none;
}

#week {
	color: rgb(21, 159, 238);
	font-size: 20px;
	color: white;
	/*background-color: red;*/
	position: absolute;
	top: 100px;
	left: 215px;
	-webkit-user-select:none;
}

#msg {
	box-sizing: border-box;
	border: 1px solid white;
	border-radius: 10px;
	width: 273px;
	height: 30px;
	position: absolute;
	top: 150px;
	left: 65px;
	font-size: 18px;
}

.w {
    position: absolute;
    left: 20px;
}

.n {
	position: absolute;
	left: 70px;
}

.o {
	position: absolute;
	left: 120px;
}