<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script src="time.js"></script>
<link rel="stylesheet" href="time.css">
<title>实时显示时间</title>
</head>

<body onload="getTime()">
    <div id="main">
        <a href="./weather1/weather.html"  target="_blank"><img id="gif1" src="11.gif" alt=""></a>
        <div id="time"></div>
        <div id="data"></div>
        <div id="week"></div>
        <div id="msg">
            <span class="w"><a href="http://www.baidu.com" target="_blank">天气</a></span>
            <span class="n"><a href="">新闻</a></span>
            <span class="o"><a href="">其他</a></span>
        </div>
    </div>
</body>
</html>